.pullUp {
	@include animation-name(pullUp);
	@include animation-duration(1.1s);
	@include animation-timing-function(ease-out);
	@include transform-origin(50% 100%);
}

@include keyframes(pullUp) {
	  0% { @include transform(scaleY(0.1)); }
	 40% { @include transform(scaleY(1.02)); }
	 60% { @include transform(scaleY(0.98)); }
	 80% { @include transform(scaleY(1.01)); }
	100% { @include transform(scaleY(0.98)); }
	 80% { @include transform(scaleY(1.01)); }
	100% { @include transform(scaleY(1)); }
}
