.fadeIn {
	@include animation-name(fadeIn);
	@include animation-duration(1.5s);
	@include animation-timing-function(ease-in-out);
	visibility: visible !important;
}

@include keyframes(fadeIn) {
	0% {
		@include transform(scale(0));
		opacity: 0.0;
	}
	60% {
		@include transform(scale(1.1));
	}
	80% {
		@include transform(scale(0.9));
		opacity: 1;
	}
	100% {
		@include transform(scale(1));
		opacity: 1;
	}
}
